html .demoCanvas,
body .demoCanvas {
  margin: 0px auto;
  display: block;
  border: 1px solid black;
}
html .LinkList a,
body .LinkList a {
  margin-right: 10px;
}
html .lottery .foo,
body .lottery .foo {
  margin: 0px auto;
  display: block;
  width: 400px;
  position: static  !important;
  color: #FFF;
}
html .lottery .foo .button,
body .lottery .foo .button {
  margin: 0px auto;
  display: block;
  background-color: white;
  height: 50px;
  width: 60px;
  border-radius: 40px;
  appearance: button;
  -moz-appearance: button;
  -webkit-appearance: button;
}
