html,
body {
    .demoCanvas {
        margin: 0px auto;
        display: block;
    }
    .LinkList {
        a {
            margin-right: 10px;
        }
    }
    .lottery {
        .foo {
        	margin: 0px auto;
        	display: block;
        	width: 400px;
            // z-index: 1;
            position: static  !important; 
            color: #FFF; 
            .button{
            	margin: 0px auto;
        		display: block;
        		background-color: white;
				height: 50px;
            	width: 60px;
            	border-radius: 40px;
            	appearance: button;
		        -moz-appearance: button;
		        -webkit-appearance: button;

            }
        } 

    }
}
